<div class="header-bar">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-4 col-md-4 ">
				<a href="/">
					<img src="../../assets/logo.png" alt="Jumpaï" class="jumpai-logo" />
				</a>
			</div>
			<div class="col-lg-2 col-md-2">
				<a href="/">
					<button type="button" class="btn btn-jumpai btn-home head-btn">Home</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-2">
				<a href="/store">
					<button type="button" class="btn btn-jumpai btn-store head-btn">Store</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-2">
				<a href="/news">
					<button type="button" class="btn btn-jumpai btn-news head-btn">News</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-2">
				<a href="/about">
					<button type="button" class="btn btn-jumpai btn-about head-btn">About</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="head-padding">

</div>
