<div class="header-bar">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-4 col-md-12">
				<div class="jumpai-logo-wrapper">
					<a href="/">
						<img src="../../assets/logo.png" alt="MakerKing" class="jumpai-logo" />
					</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-3">
				<a href="/">
					<button type="button" class="btn btn-jumpai btn-home head-btn">Home</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-3">
				<a href="/store">
					<button type="button" class="btn btn-jumpai btn-store head-btn">Store</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-3">
				<a href="/news">
					<button type="button" class="btn btn-jumpai btn-news head-btn">News</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-3">
				<a href="/leaderboard">
					<button type="button" class="btn btn-jumpai btn-leaderboard head-btn">Leaderboard</button>
				</a>
			</div>
			<div class="col-lg-4 col-md-6">
				<span *ngIf="playersOnline != null" class="under-header-text">
					{{playersRegistered}} player{{playersRegistered > 1 ? "s" : ""}} registered,
					{{playersOnline}} player{{playersOnline > 1 ? "s" : ""}} online
				</span>
			</div>
			<div class="col-lg-8 col-md-6">
				<div *ngIf="loginReady">
					<span *ngIf="userService.isLogged()" class="under-header-text">
						Logged in as {{userService.getUsername()}}.
						<button type="button" class="btn btn-jumpai btn-login" (click)="userService.logout()">Logout</button>
					</span>
					<span *ngIf="!userService.isLogged()" class="under-header-text">
						<span *ngIf="error" class="login-error">
							{{invalidLogin ? 'Incorrect login' : 'Cannot connect to server'}}
						</span>
						
						<label class="login-form-label" for="username">Username:</label>
	          <input class="login-form-field" type="text" id="username" [(ngModel)]="inputUsername" (keyup.enter)="keytab($event)" required>
						<label class="login-form-label" for="password">Password:</label>
	          <input class="login-form-field" type="password" id="password" [(ngModel)]="inputPassword" (keyup.enter)="login()" required>
						
						<button type="button" class="btn btn-jumpai btn-login" (click)="login()">Login</button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="head-padding">

</div>
