.header-bar {
    background-color: #00000044;
    border-bottom: 2px solid #00000012;
    padding-bottom: 10px;
}

.header-btn-link {
    display: inline-block;
    margin: 2px;
}

.head-padding {
    height: 20px;
}

.logo {
    max-width: 100%;
}

.stats-element {
    display: block;
}

.stats-comma {
    display: none;
}

.header-text-container {
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: large;
    display: inline-block;
    padding-bottom: 5px;
}

.login-form-label {
    width: 90px;
    text-align: right;
}

.login-form-field {
    border-radius: 1px;
    border: 2px;
}

.login-form-label {
    margin-right: 5px;
    margin-bottom: 0;
}

.login-form-field {
    width: 120px;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0 5px;
    font-size: medium;
}

.logged-text {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}

.logo-wrapper {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.head-btn {
    width: 100%;
    font-size: x-large;
}

.btn-home {
    background-color: #5cd65c;
}

.btn-home:hover,
.btn-home:focus,
.btn-home:active {
    background-color: #258e25;
}

.btn-store {
    background-color: #ff3385;
}

.btn-store:hover,
.btn-store:focus,
.btn-store:active {
    background-color: #99003d;
}

.btn-news {
    background-color: #ffce00;
}

.btn-news:hover,
.btn-news:focus,
.btn-news:active {
    background-color: #896900;
}

.btn-leaderboard {
    background-color: #3385ff;
}

.btn-leaderboard:hover,
.btn-leaderboard:focus,
.btn-leaderboard:active {
    background-color: #003d99;
}


.header-login-section {
    text-align: center;
}

.form-field-container {
    display: inline-block;
}

.login-container {
    display: inline-block;
}

.btn-login {
    font-size: large;
    padding-top: 0;
    margin-bottom: 25px;
}

.login-error {
    margin-right: 10px;
    color: #ff3344;
    vertical-align: middle;
}

.header-btn-section {
    text-align: center;
}


@media (min-width: 768px) {

    .header-btn-link {
        min-width: 150px;
    }

    .header-text-container {
        padding-right: 20px;
        text-align: right;
    }
}

@media (max-width: 991px) {
    .logo {
        max-height: 130px;
    }
}

@media (max-width: 380px) {
    .header-text-container {
        font-size: small;
    }
}

@media (max-width: 290px) {
    .header-text-container {
        font-size: x-small;
    }
}

@media (max-width: 767px) {

    .stats-element {
        display: inline-block;
    }

    .stats-comma {
        display: inline-block;
    }

    .header-btn-link {
        width: 100%;
        display: block;
    }
}

@media (max-width: 326px) {
    .btn-login {
        width: 80%;
        display: block;
        margin: 5px auto auto;
    }

    .header-text-container {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 254px) {
    .login-form-label {
        text-align: center;
        margin-right: 0;
    }


    .login-form-field {
        width: 80px;
        margin-right: 0;
        font-size: small;
    }
}
