<div class="header-bar">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-4 col-md-6 ">
				<a href="/">
					<img src="../../assets/logo.png" alt="Jumpaï" class="jumpai-logo" />
				</a>
			</div>
			<div class="col-lg-2 d-none d-lg-block">

			</div>
			<div class="col-lg-2 col-md-2">
				<a href="/">
					<button type="button" class="btn btn-jumpai btn-home head-btn">Home</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-2">
				<a href="/donate">
					<button type="button" class="btn btn-jumpai btn-donate head-btn">Donate</button>
				</a>
			</div>
			<div class="col-lg-2 col-md-2">
				<a href="/contact">
					<button type="button" class="btn btn-jumpai btn-contact head-btn">Contact</button>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="head-padding">

</div>