<div class="footer-container">
	<div class="social-icons">
		<a href="{{facebookAddress}}">
			<img src="../../assets/facebook-icon.png" alt="Facebook" class="social-icon" />
		</a>
		<a href="{{twitterAddress}}">
			<img src="../../assets/twitter-icon.png" alt="Twitter" class="social-icon" />
		</a>
		<a href="{{discordAddress}}">
			<img src="../../assets/discord-icon.png" alt="Discord" class="social-icon" />
		</a>
		<a href="{{redditAddress}}">
			<img src="../../assets/reddit-icon.png" alt="Reddit" class="social-icon" />
		</a>
	</div>
	<p class="copyright">
		Copyright &copy; 2016-{{currentYear}}<br />
		Green Fisbee Games Inc. (<a href="/about" class="about-link">About us</a>)
	</p>
</div>
