<div class="container space-filler">
	<div class="content-container">
		<div class="row">
			<!-- TODO ngFor -->
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="item-container">
					<span class="coin-title">1'100 coins</span>
					<img src="../../assets/store/coins.png" />
					<span class="price-tag">$3.49 USD</span>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
			
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4">
			
			</div>
		</div>
		<ngx-paypal [config]="payPalConfig"></ngx-paypal>
	</div>
</div>
