.item-title {
    line-height: 75%;
    display: block;
    padding: 3px 10px 0 10px;
    font-size: xx-large;
}

.item-price {
    display: inline-block;
    border: 3px white solid;
    padding: 3px 10px 0 10px;
    background-color: #67C261FF;
    border-radius: 2px;
}

.item-icon {
    display: block;
    margin: auto;
}

.item-container {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #0090ACFF;
    border: 8px white solid;
    border-radius: 10px;
    transition: filter .15s ease-in-out;
}

.item-container:hover {
    filter: brightness(80%);
}

.selected-item {
    background-color: #f9e13a;
}

p {
    padding: 0 20px;
    font-size: x-large;
}
