<div class="container space-filler">
	<div class="content-container">
		<div class="row">
			<div class="col-md-12 col-lg-3">
				<h2>Factsheet</h2>
				<ul class="fact-sheet">
					<li><b>Developer:</b> Alexander Winter and Izzy Aminov, Green Frisbee Games Inc.; Based in Montreal, Canada</li>
					<li><b>Release Date:</b> August 20th 2018 (itch.io), Summer 2021 (Steam)</li>
					<li><b>Status:</b> Available on itch.io, Coming soon on steam</li>
					<li><b>Platforms:</b> PC, Mac and Linux (<a href="{{itchAddress}}">itch.io</a>)</li>
					<li><b>Website:</b>&nbsp;<a href="https://makerkinggame.com/">makerkinggame.com</a></li>
					<li><b>Price:</b> Free</li>
					<li><b>Availability:</b> Digital Download</li>
					<li><b>Languages:</b> English, French, Spanish, Turkish, German, Greek</li>
					<li><b>File Size:</b> ~300 MB</li>
					<li><b>Contact:</b><br /><a href="mailto:{{emailAddress}}">{{emailAddress}}</a></li>
					<li><b>Social:</b>&nbsp;
						<a href="{{twitterAddress}}">Twitter</a>,
						<a href="{{discordAddress}}">Discord</a>,
						<a href="{{youtubeAddress}}">Youtube</a>,
						<a href="{{redditAddress}}">Reddit</a>,
						<a href="{{facebookAddress}}">Facebook</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12 col-lg-9">
				<div class="article-wrapper">
					<div class="row">
						<img src="../../assets/press/logos/boxart.png" alt="Box art" title="Icon" style="max-width: 100%; padding-bottom: 20px"/>
					</div>
					<h2>MakerKing Press Kit</h2>
					<p>
						Welcome to MakerKing’s press kit. On this page you should find any info you need to post articles or to learn
						about MakerKing. If you need any additional information let us know and we will make it available.
					</p>
					
					<h2>Description</h2>
					<p>
						<!-- Create -->
						<!-- Share -->
						<!-- Compete -->
						MakerKing is a platformer focused on level creation and sharing. With the integrated
						level editor, anyone can create levels in a couple of minutes and upload it to play online
						with their friends. All finished levels are available in the level browser, granting players
						an ever growing catalog of levels to play. Players can race one another in any level or
						climb leaderboards to earn score. Multiplayer is enabled on all levels, granting a full
						blown MMO experience.
					</p>
					
					<h2>Features</h2>
					<ul class="feature-list">
						<li>
							<b>Over 65 Fun and Unique Items</b>
							<br/>
							With over 65 items that interact with each other in different ways, you will never run out of ideas when
							it comes to level creation. An example is the iconic frisbee that can be thrown by the player to be jumped
							on or used to trigger switches that can turn off conveyors and electric barriers.
						</li>
						<li>
							<b>Fully-Integrated Level Editor</b>
							<br/>
							Transform your idea into a playable level from a level editor packed with content creation tools. The
							editor can be used to create your own levels or open up any other level.
						</li>
						<li><b>
							Race mode</b>
							<br/>
							Compete in real-time with your friends to see who can finish the level first! You can invite your friends
							to race against you.
						</li>
						<li>
							<b>Mobs and the Mob Maker</b>
							<br/>
							With the mob maker, you can make any living creature you'd like. Place the body parts
							and the mob will come to life. Give it wings and it will fly, give it fins and it will
							swim!
						</li>
						<li><b>
							Level browsing & Stars</b>
							<br/>
							Browse the top rated levels easily from anywhere in the game! The best levels naturally come up to the top
							as players leave stars to the levels they like. The game distinguishes between finished and unfinished
							creations, preventing the annoyance of playing an unfinished level without knowing it!
						</li>
						<li><b>
							Controller Support</b>
							<br/>
							All controls are bindable, including ones for the editor!
						</li>
						<li><b>
							Leaderboards & Stats</b>
							<br/>
							You can bind score by getting top positions on leaderboards of popular levels!
						</li>
						<li>
							<b>Player Customization</b>
							<br/>
							Give a unique look to your character to create your own in-game identity!
						</li>
						<li><b>
							Replays</b>
							<br/>
							Watch the world record replays to see how they finish so fast! Any replays can be watched from the
							leaderboard and you can even export them to export videos if you want to show off your skills!
						</li>
					</ul>
					
					<h2>History</h2>
					<p>
						Started in late 2016, MakerKing started under the name SocialPlatformer, then changed to
						Jumpaï and finally settled on MakerKing. I was greatly inspired by Mario Maker at the time
						but wanted to see how it would play like in a MMO type setting where you see other
						players around. At first it was only a hobby project I was working on while in college
						but it slowly grew into what it is today.
					</p>
					
					<h2>Video</h2>
					<p>Official trailer (0.8):</p>
					<iframe width="560" height="315" style="max-width: 100%;"
					        src="https://www.youtube.com/embed/RIf3geGWJVA?modestbranding=1&rel=0" frameborder="0"
					        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					        allowfullscreen></iframe>
					<br/>
					
					<h2>Screenshots</h2>
					<p>
						<a href="{{screenshotPackage}}" title="Download screenshots in a zip file" target="_blank">Download all in a
							zip file.</a>
					</p>
					
					<div class="row">
						<div *ngFor="let screenshot of screenshots" class="col-lg-6 col-md-12">
							<a class="screenshot" href="../{{screenshot}}" target="_blank">
								<img src="/{{screenshot}}" alt="{{nameOf(screenshot)}}" title="{{nameOf(screenshot)}}"/>
							</a>
							<br/>
						</div>
					</div>
					<br/>
					
					<h2>Gifs</h2>
					<div class="row">
						<div *ngFor="let gif of gifs" class="col-lg-6 col-md-12">
							<iframe [src]="('https://gfycat.com/ifr/' + gif) | safe" frameborder="0" scrolling="no" allowfullscreen
							        width="100%" height="247px"></iframe>
						</div>
					</div>
					
					<h2>Logo and box art</h2>
					<p>
						<a href="{{logoPackage}}" title="Download logos in a zip file" target="_blank">Download all in a zip
							file.</a>
					</p>
					<div style="text-align: center">
						<img src="../../assets/press/logos/title.png" alt="Title" title="Title" style="max-width: 100%"/>
						<br/>
						<img src="../../assets/press/logos/boxart.png" alt="Box art" title="Icon" style="max-width: 100%"/>
						<br/>
						<img src="../../assets/press/logos/icon.png" alt="Icon" title="Icon" style="max-width: 100%"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
