<div class="container space-filler">
	<div class="content-container">
		<div class="row">
			<div class="col-md-12 col-md-6 col-lg-3">
				<h2>Factsheet</h2>
				<ul class="fact-sheet">
					<li><b>Developer:</b> Frame-Perfect Studio; Based in Montreal, Canada</li>
					<li><b>Status:</b> Available</li>
					<li><b>Platforms:</b> PC, Mac and Linux (<a href="https://beartrapstudio.itch.io/jumpai">itch.io</a>)</li>
					<li><b>Website:</b>&nbsp;<a href="http://jumpai.net/">jumpai.net</a></li>
					<li><b>Price:</b> Free</li>
					<li><b>Availability:</b> Digital Download</li>
					<li><b>Languages:</b> English, French, Spanish, Turkish</li>
					<li><b>File Size:</b> ~150 MB</li>
					<li><b>Press Contact:</b> jumpaigame@gmail.com</li>
					<li><b>Social:</b>&nbsp;
						<a href="https://twitter.com/jumpaigame">Twitter</a>,
						<a href="https://discord.gg/Guv4UYn">Discord</a>,
						<a href="https://www.youtube.com/channel/UCE9tgxKnV9cPl2j_Y076B7A">Youtube</a>,
						<a href="https://www.reddit.com/r/jumpai/">Reddit</a>,
						<a href="https://www.facebook.com/jumpaigame">Facebook</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-9">
				<h2>Jumpaï : Initial Press Kit</h2>
				<p>
					Welcome to the Jumpaï Press page. You should find any info you need to post articles or to
					learn about our game. If you need any additional information or would like anything in a
					different format, let us know and we will make it available.
				</p>
				
				<h2>Description</h2>
				<p>
					<!-- Create -->
					<!-- Share -->
					<!-- Compete -->
					Jumpaï is, as its core, about creating levels and sharing them online to play with others. Our game's style is quite subtle, as it aims to be a vessel for the creator's expression while offering a cozy, familiar frame.
				</p>
				
				<h2>Features</h2>
				<p>
					<!-- Controller support -->
					<!-- Fully-featured level editor -->
					<!-- Race mode -->
					<!-- Leaderboards -->
					<!-- Chat -->
					<!-- Player Customization -->
					<!-- Level browser/like system -->
					<!-- Replays -->
				</p>
				
				<h2>Planned Features</h2>
				<p>
				
				</p>
				
				<h2>Video</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/EusrNr85pTo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
				<h2>Screenshots</h2>
				<p>
				
				</p>
				
				<h2>Gifs</h2>
				<p>
				
				</p>
				
				<h2>Logos</h2>
				<p>
				
				</p>
			</div>
		</div>
	</div>
</div>