<div class="container space-filler">
	<div class="dirt_header"></div>
	<div class="content-container dirt_body">
		<h1>MakerKing Press Kit</h1>
		<p>
			If you want to write an article about MakerKing or simply learn more about the game, check out our <a href="/press">press kit</a>.
		</p>
		
		<h1>Contact info</h1>
		<p>
			Game created by <a href="https://twitter.com/AlexanderWinter">Alexander Winter</a> and art
			made by <a href="https://twitter.com/Izzy_IRA">Izzy Aminov</a> at Green Frisbee Studio Inc.
			
			If you want to talk directly to our team, join us on <a href="{{discordAddress}}">discord</a>!
			<br />
			<br />
			For business inquiries, please use <a href="mailto:{{emailAddress}}">{{emailAddress}}</a>.
		</p>
	</div>
	<div class="dirt_footer"></div>
</div>
