<div class="container space-filler">
	<div class="content-container">
		<h1>Jumpaï's story</h1>
		<p>
			Jumpaï is a free platformer game where anyone can create their own levels
			and play them online with the community.
			Started as a hobby project back in november 2016, Jumpaï has now a serious
			ambition of claiming it's spot among the top creator games. Sooner or
			later, Jumpaï will shine!
			<br />
			<br />
			My name is Alexander Winter and I am founder and co-owner of Jumpaï. I
			study Computer Science at McGill University and am glad to constantly
			benefit the project from my newly acquired knowledge. There's no doubt
			that Jumpaï is very important to me considering the time and effort I've
			put so far in this project.
		</p>
		
		<h1>Contact info</h1>
		<p>
			If you are a player and want to talk to me, join me on <a href="{{discordAddress}}">discord</a>!
			<br />
			<br />
			For business inquiries, please send us messages using <a href="mailto:{{emailAddress}}">{{emailAddress}}</a>. <br/>
			We are open to interviews and any press covering the game.
		</p>
	</div>
</div>