<div class="container space-filler">
	<div class="content-container">
		<div class="row">
			<img class="center" src="https://www.spigotmc.org/data/avatars/l/28/28056.jpg?1425566634" alt="WinterGuardian" />
			<p>
			<br />
				Bonjour à vous anciens joueurs de TouchedCraft! Je suis WinterGuardian, fier ex-administrateur de TouchedCraft. Ce site web est celui de mon jeu Jumpaï. Sur mon serveur discord (lien: <a href="https://discord.gg/Guv4UYn">discord.gg/Guv4UYn</a>), j'offre un salon textuel et vocal dédié aux retrouvailles des joueurs de Touched'. Si tu as déjà joué à TouchedCraft, Rejoins-nous et présentes-toi!
			</p>
			<p>
				Cordialement,<br />
				Alexander Winter
			</p>
		</div>
	</div>
</div>