<div class="container space-filler">
	<div class="content-container">
		<h1>Thank you!</h1>
		<div class="thankyou-img-container">
			<img src="../../../assets/thankyou.png" alt="Thank you! <3" />
		</div>
		<p>
			Thank you. Your purchase help make Jumpaï a better game.
		</p>
		<p>
			You should have received the content of your purchase in-game. If you have any issues or questions, please contact us on <a href="{{discordAddress}}">Discord</a> or at <a href="mailto:contact@jumpai.net">contact@jumpai.net</a>.
		</p>
	</div>
</div>