<div class="container space-filler">
	<div class="content-container">
		<h1>Thank you!</h1>
		<div class="thankyou-img-container">
			<img src="../../../assets/thankyou.png" alt="Thank you! <3" />
		</div>
		<p>
			We truly appreciate your effort to make Jumpaï a better game. We will make sure to use your donation in the best way possible to enhance the Jumpaï experience!
		</p>
		<p>
			You will receive in-game cosmetics for your support. As they are given manually, please expect a delay. If you have any issues or questions, please contact us on <a href="{{discordAddress}}">Discord</a>.
		</p>
	</div>
</div>