
#music-credit {
    width: min(100%, 600px);
}

h2 {
    padding: 0 20px;
    margin-top: 40px;
}

p {
    padding: 0 20px;
    font-size: x-large;
}


.img-container {
    width: 100%;
}

.img-container > img {
    margin: auto;
    display: block;
}
