<div class="container space-filler">
	<div class="dirt_header"></div>
	<div class="content-container dirt_body">
		<h1>Support us</h1>
		
		<div class="row">

            <p>
                MakerKing is a small indie game driven by passion. The game is free
                to play and contains no ads. If you like MakerKing and want to encourage
                its development, feel free to support us! Here are the different ways you
                can help the project grow.
            </p>

            <h2>Translation</h2>

            <div class="img-container">
                <img src="../../assets/translator.png" width="150px" alt="Frisbee coins"/>
            </div>

            <p>
                If you are fluent in english and in another language (except for french),
                you can help us translate the game to your language. Join us on
                <a href="{{DISCORD_ADDRESS}}">discord</a> to start collaborating with us
                on translation.
            </p>

            <h2>Code contributions</h2>

            <p>
                For volunteers that want to get involved with fixing bugs or implementing
                small features for MakerKing, we are open to collaboration and code
                submissions. It is recommended that you have some experience with Java,
                libGDX or game development. Join us on <a href="{{DISCORD_ADDRESS}}">
                discord</a> to discuss about this.
            </p>

            <h2>Music track submission</h2>

            <div class="img-container">
                <img src="../../assets/music_credit.png" id="music-credit" alt="Frisbee coins"/>
            </div>
            <p>
                Do you want your music to be in MakerKing? If your track is a good match for
                the game and you are willing to provide us the (non exclusive) rights to your
                music for free, we will add your track to our game, with credits.
            </p>

            <h2>Donations</h2>

            <p>
                The current cost of operating MakerKing's servers is $26.51 canadian dollars
                per month. All donations, no matter the amount, are appreciated.
                <br />
                To faciliate donations and to offer rewards to people who donate,
                a microtransaction system has been added to the game. People who donate
                receive frisbee coins, an in-game currency that allows to buy cosmetics
                to decorate your player.
            </p>

            <div class="img-container">
                <img src="../../assets/store/coins3.png" alt="Frisbee coins"/>
            </div>

            <p>
                In this community we take the fairness of gameplay seriously. We guarantee
                that cosmetics bought with frisbee coins provide no competitive advantage
                and never will. This is important for us. If we ever break this promise,
                you can expect to get a refund.
            </p>

			<p>
				To buy coins, login into the game, click on the account menu (your head
				in the top right), open the shop and click on the <i>Buy coins</i>
				button on the bottom left. This will open a different shop based on whether
                you are playing with Steam or from itch.io (paid from Paypal). Each platform
                takes it's own % of your purchase, it is worth using the itch.io version of
                the game for cheaper prices.
			</p>
		</div>
	</div>
	<div class="dirt_footer"></div>
</div>
