<div class="container space-filler">
	<div class="dirt_header"></div>
	<div class="content-container dirt_body">
		<h1>Support us</h1>
		
		<div class="row">
			
			<p>
				MakerKing is a two man indie project driven by passion. The game is free
				to play and contains no ads. If you like MakerKing and want to encourage
				its development, feel free to support us by purchasing frisbee coins!
			</p>
			
			<div class="img-container">
				<img src="../../assets/store/coins3.png" alt="Frisbee coins"/>
			</div>
			
			<p>
				Frisbee coins let you buy cosmetics in the shop to decorate your player.
				This gives no competitive advantage but grants you a lot of style! You
				can buy them either through the Steam version of the game using your
				Steam wallet or with Paypal on the itch.io version of the game.
			</p>
			<p>
				To buy coins, login into the game, click on the account menu (your head
				in the top right), open the shop and click on the <i>Buy coins</i>
				button on the bottom left. Cheers!
			</p>
		</div>
	</div>
	<div class="dirt_footer"></div>
</div>
