/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    font-family: 'Baloo', cursive;
}

.btn-jumpai {
    border: 3px white solid;
    padding: 3px 10px 0 10px;
    color: white;
}

.content-container {
    background-color: #8cf288;
    color: black;
    border: white 3px solid;
    padding: 20px;
    font-size: 1.3em;
}

.space-filler {
    min-height: calc(100vh - 375px);
}