/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'balooregular';
    src: url('assets/baloo-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

git checkout -b h