<div class="container space-filler">
	<div class="dirt_header"></div>
	<div class="home-container dirt_body">
		<iframe class="youtube-player" [src]="videoAddress | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		<br />
		<a href="{{steamAddress}}">
			<button type="button" class="btn regular-btn btn-cta btn-wishlist">
				<span class="store-text">
					Play <br />on Steam
				</span>
				<img src="assets/steam.png" class="store-icon" alt="Steam" />
			</button>
		</a>
		<a href="{{itchAddress}}">
			<button type="button" class="btn regular-btn btn-cta btn-download">
				<span class="store-text">
					Play <br />on itch.io
				</span>
				<img src="assets/itch.png" class="store-icon" alt="Itch.io" />
			</button>
		</a>
	</div>
	<div class="dirt_footer"></div>
</div>
