<div class="home-container">
	<iframe style="width: 50vw; height: 60vh" src="https://www.youtube.com/embed/cyBSe4lcki4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	<br />
	<a href="https://beartrapstudio.itch.io/jumpai">
		<button type="button" class="btn btn-jumpai btn-download">Download</button>
	</a>
	<div class="java8-warning">
		<img src="../../assets/java.png" class="java-icon"/>
		<p class="need-java">
			Requires Java 8 or higher to play
		</p>
	</div>
</div>
