.home-container {
    text-align: center;
}

.btn-download {
    border-width: 5px;
    background-color: #ffa31a;
    font-size: xx-large;
    padding: 15px 100px 10px 100px;
}

.btn-download:hover,
.btn-download:focus,
.btn-download:active {
    background-color: #cc7a00;
}
